{
  "presets": ["react-native"],
  "plugins": [
    ["transform-react-remove-prop-types", { "mode": "wrap" }],
    "transform-decorators-legacy",
    "transform-function-bind",
    ["module-resolver", {
      "alias": {
        "react-native": "react-native-web"
      }
    }]
  ]
}