{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": "last 2 chrome versions"
        }
      }
    ],
    "react-native"
  ],
  "plugins": [
    ["transform-class-properties", { "loose": true }],
    "transform-decorators-legacy"
  ]
}
